body {
font-family: Arial;
margin: 0;
}

* {
box-sizing: border-box;
}

img {
vertical-align: middle;
}

.container {
position: relative;
}

.cursor {
cursor: pointer;
}

.prev, .next{
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -80px;
color: rgb(214, 214, 214);
font-weight: bold;
font-size: 45px;
text-decoration: none;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

.prev:hover{
text-decoration: none;
color: gray;
background-color: transparent;
}

.next:hover{
text-decoration: none;
color: gray;
background-color: transparent;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

.collapsible {
color: rgb(111, 111, 111);
cursor: pointer;
padding: 6px;
width: 100%;
border: 1px solid rgb(235, 235, 235);
text-align: center;
outline: none;
margin-bottom: 2px;
height: 40px;
border-radius: 5px;
background-color: rgba(232, 232, 232, 0.3);
font-size: 15px;
font-weight: bold;
}


.inputs{
    display: none;
}

.zoom {
    transition: transform .2s;
    transform: scale(1.2);


}
.zoom:hover{
    transform: scale(1.4);
}

.tile{

    overflow: hidden;
    margin: 0 auto;
    font-size: 80px;
    margin-left: 5%;
    width: 100%;
    height: 150px;
    background-color: rgb(242, 193, 31);
    color: rgb(255, 255, 255);
    border: none;

}
.tile:hover {
    background-color: rgb(218, 169, 10);
    color: rgb(255, 255, 255);

}

.tile2{
    width: 100%;
    height: 150px;
    background-color: rgb(121, 170, 93);
    color: rgb(255, 255, 255);
    border: none;
}

.tile2:hover{
    background-color: rgb(104, 146, 80);
    color: rgb(255, 255, 255);

}

.tile3{
    margin-left: -15px;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 115, 115);
    color: rgb(255, 255, 255);
    border: none;
}

.tile3:hover {
    background-color: rgb(199, 90, 90);
    color: rgb(255, 255, 255);

}


.tile4{
    margin-left: 5%;
    margin-top: -2px;
    width: 100%;
    height: 150px;
    background-color: rgb(50, 154, 223);
    color: rgb(255, 255, 255);
    border: none;
}

.tile4:hover {
    background-color: rgb(38, 120, 175);
    color: rgb(255, 255, 255);

}

.tile5{
    margin-top: -2px;
    width: 100%;
    height: 150px;
    background-color: rgb(161, 98, 161);
    color: rgb(255, 255, 255);
    border: none;
}
.tile5:hover{
    background-color: rgb(146, 85, 146);
    color: rgb(255, 255, 255);

}
.horse {

    margin-top: 40px;
    background: url('/images/horse_skelet.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80%;
    width: 500px;
}

.imgbtn {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

.imgbtn:hover {
    background-color: rgba(255, 17, 17, 0.2);
    border-radius: 50%;
}



.imgbtn2 {
    height: 80px;
    width: 80px;

    background-color: transparent;
    border: none;
}



.tile6{
    margin-left: -15px;
    margin-top: -2px;
    width: 100%;
    height: 150px;
    background-color: rgb(63, 194, 192);
    color: rgb(255, 255, 255);
    border: none;
}

.tile6:hover {
    background-color: rgb(48, 148, 146);
    color: rgb(255, 255, 255);
}


.collapsible2 {
    color: rgb(167, 167, 167, 0.9);
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: left;
    outline: none;
    margin-bottom: 2px;
    height: 35px;
    background-color: rgba(232, 232, 232, 0.3);
    font-size: 15px;
    }

.active{
    background-color: rgb(0, 72, 255);
    color: rgb(116, 160, 255);
}

.info {
    border: 1px solid rgb(221, 221, 221);
    font-style: italic;
    color: rgb(133, 133, 133);
    padding-top: 6px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 10px;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapsible:hover {
    background-color: rgb(45, 105, 255, 0.8);
    color: rgb(255, 255, 255);
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}


.title1 {
    font-size: 15px;
    margin-bottom: 32px;
    color: rgb(167, 167, 167);
}

.title {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width:  8px;
  }

  .input{
      margin-bottom: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border:none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 189, 189);
  }
